apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod-secret-vol
spec:
  containers:
  - name: nginx-container
    image: nginx
    volumeMounts:
    - name: test-vol
      mountPath: "/etc/confidential"
      readOnly: true
  volumes:
  - name: test-vol
    # secret volume 會存在於 /tmpfs 中，也就是 RAM 中，不會存在於硬碟上
    secret:
      secretName: nginx-secret-vol